{% extends "main.html" %} {% load static %} {% block title %}STUDENT LIFE
INFORMATION SYSTEM{% endblock %} {% block bodycontent %}
<script src="{% static 'styles/studentlife/fullcalendar/lib/main.min.js' %}"></script>

<link
  rel="stylesheet"
  href="{% static 'styles/studentlife/fullcalendar/lib/main.min.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static 'styles/studentlife/fullcalendar.css'%}"
/>

<div class="container">
  <div class="sub-title">
    <h3>OFFICE OF STUDENT LIFE</h3>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</p>
    <p class="certxt">&gt; Monthly Calendar of Activities</p>
  </div>

  <div class="container py-2" id="page-container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <!-- Event Details Modal -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var scheds = JSON.parse("{{ sched_json|escapejs }}");
</script>
<script src="{% static 'styles/studentlife/js/script1.js'%}"></script>
{% endblock bodycontent %}
