.p-content {
  margin-left: 350px;
  margin-top: -631px;
  width: 70%;
  
}

.h2 {
  color: black;
}

.gray-text1 {
  color: gray;
  text-decoration: none;
  margin-left: 520px;
}

.gray-text2 {
  color: gray;
  text-decoration: none;
  margin-left: 10px;
}
.gray-text {
  color: gray;
  text-decoration: none;
  
}


.orange-text {
  color: orange;
}


.title{
  margin-top: 50px;
}

