body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  list-style-type: none;
  font-size: 12px;
}

body {
  display: flex;
}

#side_nav_box {
  height: 100vh;
  width: fit-content;
}

.side-nav {
  width: 299px;
  height: 91vh;
  background: #4682b4;
  overflow: auto;
}

.side-nav::-webkit-scrollbar {
  display: none;
}

.orange-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 18px;
  background-color: #2c5282;
  width: 299px;
}

.logo {
  height: 55px;
}

.bars {
  height: 25px;
}

.side-nav li {
  line-height: 30px;
}

.side-nav ul li {
  line-height: 50px;
  border-bottom: 1px solid #2b40d1;
}

.side-nav ul ul {
  position: static;
  display: none;
}

.side-nav ul.studentlife.show,
.side-nav ul.scholar-show.show2,
.side-nav ul.jobplace-show.show3,
.side-nav ul.student_disc-show.show4,
.side-nav ul.guide-show.show5,
.side-nav ul.alumni-show.show6,
.side-nav ul.community-show.show7,
.side-nav ul.student_org-show.show8,
.side-nav ul.medical-show.show9 {
  display: block;
}

.side-nav ul ul li {
  line-height: 40px;
}

.side-nav ul ul li a {
  font-size: 15px;
  padding-left: 60px;
}

.side-nav ul li a:hover {
  background: #3e74a0;
  border-left-color: white;
}

.side-nav ul li a {
  position: relative;
  color: white;
  padding-left: 30px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  border-left: 5px solid transparent;
}

.side-nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  transition: transform 0.4s;
}

.side-nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.search-container {
  width: 100%;
  background-color: #f1f1f1;
  padding: 12.5px;
  display: flex;
  align-items: center;
}

.search-icon i {
  margin-right: 10px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

input[type="text"] {
  padding: 9.6px;
  border: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  align-items: left;
  color: black;
  width: 300px;
  background-color: #fff;
}

.content_box {
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 89.5vh;
  overflow: auto;
  background-color: #fff;
}

.content h1 {
  color: black;
}

.header {
  text-align: left;
  font-style: italic;
  font-size: 14px;
}

.titles,
.institution-details,
.notes {
  text-align: center;
  margin-bottom: 10px;
}

.header p {
  margin: 5px 0;
}

.titles h2 {
  margin: 5px 0;
}

.titles h3 {
  margin: 5px 0;
}

.institution-details p {
  margin-left: 5rem;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px 0;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

tbody td {
  font-size: 10px;
}

.notes {
  margin-top: 10px;
  font-size: 0.8em;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-section {
  text-align: center;
  width: 30%;
}

.footer-section p {
  margin: 5px 0;
}

.row-table th {
  font-size: 12px;
}
@media print {
  #contentToPrint::-webkit-scrollbar,
  .side_nav_box,
  .search-container {
    display: none;
  }

  .form_div form {
    display: none;
  }

  .container {
    box-shadow: none !important;
    position: absolute !important;
    top: -10px !important;
    left: 0;
    width: 100%;
    padding: none !important;
    border: none !important;
  }

  .container * {
    font-size: 12px !important;
  }

  .footer,
  .footer-section {
    visibility: visible !important;
    color: black;
  }
}

/* Bottons */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  top: 20px;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid black;
}

.container * {
  color: black !important;
}

#semesterForm {
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  top: 20px;
  left: 200px;
}

#semesterForm * {
  color: black !important;
}

#semesterForm #semester {
  margin-right: 50px;
  padding: 5px;
  background-color: #2c5282fb;
  color: white !important;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

#semesterForm #semester option {
  color: black;
  background-color: white;
}
/* 
#semesterForm */
#semester::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

#semesterForm {
  position: relative;
}

#scholarship_year {
  padding: 5px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 150px;
  text-indent: 6px;
  padding: 7px;
  border: 1px solid #2c5282fb;
  color: white;
  margin-right: 20px;
}

#scholarship_year::placeholder {
  color: white;
}

#printButton {
  padding: 10px 20px;
  background-color: #1f73c2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 160px;
  color: white !important;
}

#allYearsButton {
  padding: 10px 20px;
  background-color: #2c5282;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  color: white !important;
}

#logOut {
  padding: 10px 20px;
  background-color: #2c5282;
  border-radius: 5px;
  border: none;
}

#back {
  width: 30px;
  height: 30px;
}
