{% extends 'adminmain.html' %} {% load static %} {% block headcontent %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{% static 'styles/scholarship/tran_liquidation.css' %}"
/>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% endblock headcontent %} {% block bodycontent %}
<div class="body-content">
  <div class="sub-title">
    <h4>SCHOLARSHIP</h4>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
    <p class="certxt">Transaction Reports</p>
    <p class="certxt">Admin Cost Liquidation</p>
  </div>
  <hr />

  <div class="form_div">
    <a href="{% url 'transaction' %}" title="Back to Transaction Reports">
      <img src="/static/scholar/back.png" alt="Back" id="back" />
    </a>
    <div class="title">
      <img src="{% static 'scholar/liquidation.png' %}" alt="" />
      <h2>Admin Cost Liquidation Tracker</h2>
    </div>

    <div class="logo-nav">
      <div class="logo-container">
        <img src="{% static 'scholar/tdp.png' %}" alt="" />
        <a href="{% url 'transliquidation_tdp' %}">
          <button>CHED TDP Scholarship</button>
        </a>
      </div>
      <div class="logo-container">
        <img src="{% static 'scholar/tes.png' %}" alt="" />
        <a href="{% url 'transliquidation_tes' %}">
          <button>CHED TES Scholarship</button>
        </a>
      </div>
      <div class="logo-container">
        <img src="{% static 'scholar/coscho.png' %}" alt="" />
        <a href="{% url 'transliquidation_coscho' %}">
          <button>CHED COSCHO Scholarship</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock bodycontent %}
