{% extends base_template %} {% load static %} {% block bodycontent %}

    <title>COSCHO SUBMISSION REPORT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/print_coscho.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

        <div class="content">
            <div class="form_div"> 
                 <a href="{% url 'ched' %}" style="width:fit-content;">
                <img src="/static/scholar/back.png" id="back" alt="" >
            </a>
                <form method="GET" id="semesterForm">
                    <label for="semester"><b>Select Semester:</b></label>
                    <select id="semester" name="semester" onchange="document.getElementById('semesterForm').submit();">
                        <option value="all" {% if semester == 'all' %}selected{% endif %}>All Semesters</option>
                        <option value="1st Semester" {% if semester == '1st Semester' %}selected{% endif %}>1st Semester</option>
                        <option value="2nd Semester" {% if semester == '2nd Semester' %}selected{% endif %}>2nd Semester</option>
                    </select>
                    <label for="scholarship_year"><b>Academic Year:</b></label>
                    <select id="scholarship_year" name="scholarship_year" >
                        <option value="All" {% if scholarship_year == 'All' %}selected{% endif %}>All</option>
                        {% for year in years %}
                            <option value="{{ year }}" {% if scholarship_year == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                    <script>
                        $(document).ready(function() {
                            $('#scholarship_year').change(function() {
                                $(this).closest('form').submit();
                            });
                        });
                    </script>
                </form>
                <div class="container">
                    <h2>Certified List of Scholarship Program for Coconut Farmers and Their Families (CoScho) Beneficiaries
                        <br>
                        <div class="sem">
                            {% if semester == '1st Semester' %}
                                First Semester
                            {% elif semester == '2nd Semester' %}
                                Second Semester
                            {% else %}
                                All Semesters
                            {% endif %}
                            , Academic Year {{ scholarship_year }}
                        </div>
                    </h2>
                    <br>
                    <div class="header">
                        <p>Name of HEI:<strong> Cebu Technological University - Argao</strong></p>
                        <p>Address: Ed Kintanar, Lamacan, Argao, Cebu</p>
                        <p>Region: VII</p>
                        <p>Date: <span id="currentDate"></span></p>
                    </div>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2">No.</th>
                                <th rowspan="2">Award Number</th>
                                <th colspan="4">Name</th>
                                <th rowspan="2">Sex</th>
                                <th rowspan="2">Bachelor's Degree Program and Major</th>
                                <th rowspan="2">Year Level</th>
                                <th rowspan="2">General Weighted Average (GWA)</th>
                                <th rowspan="2">Number of Units Enrolled </th>
                                <th rowspan="2">CoScho Financial Benefits</th>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Ext.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scholar in scholar_ids %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ scholar.scholar_ID }}</td>
                                <td>{{ scholar.scholar_ID.studID.lastname }}</td>
                                <td>{{ scholar.scholar_ID.studID.firstname }}</td>
                                <td>{{ scholar.scholar_ID.studID.middlename }}</td>
                                <td>{{ scholar.scholar_ID.studID.extension }}</td>
                                <td>{{ scholar.scholar_ID.studID.sex }}</td>
                                <td>{{ scholar.scholar_ID.studID.degree }}</td>
                                <td>{{ scholar.scholar_ID.studID.yearlvl }}</td>
                                <td>{{ scholar.gpa }}</td>
                                <td>{{ scholar.total_units_enrolled }}</td>
                                <td>{{ scholar.amount }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="11" class="bill"><strong>Total Billing for 
                                    {% if semester == '1st Semester' %}
                                        1st Semester
                                    {% elif semester == '2nd Semester' %}
                                        2nd Semester
                                    {% else %}
                                        All Semesters
                                    {% endif %}
                                    , AY {{ scholarship_year }}:</strong> 
                                </td>
                                <td><strong>₱{{ total_amount }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="footer">
                        <p><em><strong>*Note:</strong> Please input the correct degree program and year level of the scholars</em></p>
                        <div class="signatures">
                            <div class="signature">
                                <p>Prepared:</p>
                                <br>
                                <p>____________________</p>
                                <p>HEI CoScho Coordinator</p>
                            </div>
                            <div class="signature">
                                <p>Reviewed and Certified Correct:</p>
                                <br>
                                <div class="nested-signature">
                                    <div class="sub-signature">
                                        <p>____________________</p>
                                        <p>Registrar II</p>
                                    </div>
                                    <div class="sub-signature" style="margin-left:20px ;">
                                        <p>____________________</p>
                                        <p>Accountant II</p>
                                    </div>
                                </div>
                            </div>
                            <div class="signature">
                                <p>Approved:</p>
                                <br>
                                <p>____________________</p>
                                <p>Campus Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var today = new Date();
                var date = today.getDate();
                var month = today.getMonth() + 1;
                var year = today.getFullYear();
                var fullDate = month + '/' + date + '/' + year;
                document.getElementById("currentDate").textContent = fullDate;
            });
        </script>
        <script>
            document.getElementById('printButton').addEventListener('click', function() {
                window.print();
            });
        </script>
    </div>
{% endblock %}