{% extends base_template %} {% load static %} {% block bodycontent %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/print_merit.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <style>
        @media print{
            #back,title{
                visibility: hidden;
            }
        }
    </style>

        <div class="content" id="contentToPrint">
            <div class="form_div"> 
                 <a href="{% url 'ched' %}">
                <img src="/static/scholar/back.png" alt="" id="back" >
            </a>
                <form method="GET" id="semesterForm">
                    <label for="semester"><b>Select Semester:</b></label>
                    <select id="semester" name="semester" onchange="document.getElementById('semesterForm').submit();">
                        <option value="all" {% if semester == 'all' %}selected{% endif %}>All Semesters</option>
                        <option value="1st Semester" {% if semester == '1st Semester' %}selected{% endif %}>1st Semester</option>
                        <option value="2nd Semester" {% if semester == '2nd Semester' %}selected{% endif %}>2nd Semester</option>
                    </select>
                    <label for="scholarship_year"><b>Academic Year:</b></label>
                    <select id="scholarship_year" name="scholarship_year" >
                        <option value="All" {% if scholarship_year == 'All' %}selected{% endif %}>All</option>
                        {% for year in years %}
                            <option value="{{ year }}" {% if scholarship_year == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                    <script>
                        $(document).ready(function() {
                            $('#scholarship_year').change(function() {
                                $(this).closest('form').submit();
                            });
                        });
                    </script>
                </form>
                
                <div class="container">
                    <div class="header">
                        <p>Revised StuFAPs Form No. 4-1</p>
                        <p>2017 version</p>
                    </div>
                    <div class="titles">
                        <h2>Certified List of CHED Scholarship Programs (CSPs) Scholars</h2>
                        <h4>{% if semester != 'all' %}{{ semester }}{% if semester == '1st Semester' %}st{% elif semester == '2nd Semester' %}nd{% endif %} Semester, {% endif %}Academic Year: {{ scholarship_year|default:"All Years" }}</h4>
                    </div>
                    <div class="institution-details">
                        <p><strong>CEBU TECHNOLOGICAL UNIVERSITY - ARGAO</strong></p>
                        <p>ED KINTANAR, LAMACAN, ARGAO, CEBU</p>
                        <p>REGION: VII</p>
                    </div>
                    <table class="row-table">
                        <thead>
                            <tr>
                                <th rowspan="2">Seq.</th>
                                <th rowspan="2">AWARD NUMBER</th>
                                <th rowspan="2">TYPE OF CSP</th>
                                <th colspan="4">NAME</th>
                                <th rowspan="2">SEX</th>
                                <th rowspan="2">COURSE</th>
                                <th rowspan="2">Year Level</th>
                                <th rowspan="2">General Weighted Average (GWA)</th>
                                <th rowspan="2">Number of Units Enrolled</th>
                                <th rowspan="2">REMARKS</th>
                            </tr>
                            <tr>
                                <th>LAST</th>
                                <th>FIRST</th>
                                <th>MIDDLE</th>
                                <th>EXT.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in scholar_ids %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ detail.scholar_ID.scholar_ID }}</td>
                                <td>{{ detail.scholar_ID.scholar_type }}</td>
                                <td>{{ detail.scholar_ID.studID.lastname }}</td>
                                <td>{{ detail.scholar_ID.studID.firstname }}</td>
                                <td>{{ detail.scholar_ID.studID.middlename }}</td>
                                <td>{{ detail.scholar_ID.studID.extension }}</td>
                                <td>{{ detail.scholar_ID.studID.sex }}</td>
                                <td>{{ detail.scholar_ID.studID.degree }}</td>
                                <td>{{ detail.scholar_ID.studID.yearlvl }}</td>
                                <td>{{ detail.gpa }}</td>
                                <td>{{ detail.total_units_enrolled }}</td>
                                <td>{{ detail.remarks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="notes">
                        <p>*Status of grantee may either be that the grantee is a new grantee, a replacement, graduated from the course, dropped from the course, transferred to another school.</p>
                    </div>
                    <br>
                    <div class="footer">
                        <div class="footer-section">
                            <p>Prepared:</p>
                            <br>
                            <br>
                            <p>____________________</p>
                            <p>HEI Scholarship Coordinator</p>
                        </div>
                        <div class="footer-section">
                            <p>Certified Correct:</p>
                            <br>
                            <br>
                            <p>____________________</p>
                            <p>HEI Registrar</p>
                        </div>
                        <div class="footer-section">
                            <p>Approved:</p>
                            <br>
                            <br>
                            <p>____________________</p>
                            <p>HEI President/Head</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.getElementById('allYearsButton').addEventListener('click', function() {
            document.getElementById('scholarship_year').value = '';
            document.getElementById('semesterForm').submit();
        });
    </script>

    <script>
        document.getElementById('printButton').addEventListener('click', function() {
            window.print();
        });
    </script>
  {% endblock bodycontent %}