<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STUDENT LIFE INFORMATION SYSTEM</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/dayag/trans_program.css' %}">
    <link rel="stylesheet" href="{% static 'css/dayag/print_summary.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  
</head>
<body>
    <div class="side_nav_box">
        <div class="orange-bar">
            <img src="/static/imgs/CTU_logo.png" class="logo" alt="CTU Logo">
            <img src="/static/imgs/barSort.png" class="bars" alt="Bars">
        </div>
        <nav class="side-nav">
            <ul>
                <li>
                    <a href="#" class="studentlife-btn">OFFICE OF STUDENT LIFE 
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="studentlife">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Good Moral Certificate Issuance</a></li>
                        <li><a href="#">PPMP Tracker</a></li>
                        <li><a href="#">Monthly Calendar of Activities</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="scholar-btn">SCHOLARSHIP
                        <span class="fas fa-caret-down second"></span>
                    </a>
                    <ul class="scholar-show">
                        <li><a href="{% url "admin_req" %}">Submission of Requirements tracker</a></li>
                        <li><a href="{% url "adminapplication" %}">Application tracker</a></li>
                        <li><a href="{% url "profile" %}">Scholars Profile and Validation</a></li>
                        <li><a href="{% url "liquidation" %}">Admin Cost Liquidation Tracker</a></li>
                        <li><a href="{% url "ched" %}">CHED Reports Submission</a></li>
                        <li><a href="{% url "transaction" %}">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="jobplace-btn">JOB PLACEMENT
                        <span class="fas fa-caret-down third"></span>    
                    </a>
                    <ul class="jobplace-show">
                        <li><a href="#">OJT Hiring</a></li>
                        <li><a href="#">Career Guidance Tracker</a></li>
                        <li><a href="#">OJT Requirements Tracker</a></li>
                        <li><a href="#">Non-Academic Award Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="student_disc-btn">STUDENT DISCIPLINE
                       <span class="fas fa-caret-down fourth"></span>
                    </a>
                    <ul class="student_disc-show">
                        <li><a href="#">Case Profile</a></li>
                        <li><a href="#">Hours Rendered for Community Service Tracker</a></li>
                        <li><a href="#">Good Moral Certificate Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="guide-btn">GUIDANCE
                       <span class="fas fa-caret-down fifth"></span>
                    </a>
                    <ul class="guide-show">
                        <li><a href="#">Individual Profile with Guidance Concern</a></li>
                        <li><a href="#">Counseling App with Scheduler</a></li>
                        <li><a href="#">Intake Interview</a></li>
                        <li><a href="#">Exit Interview</a></li>
                        <li><a href="#">OJT Assessments/Psychological Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alumni-btn">ALUMNI
                       <span class="fas fa-caret-down sixth"></span>
                    </a>
                    <ul class="alumni-show">
                        <li><a href="#">Alumni ID Requests</a></li>
                        <li><a href="#">Graduate Tracer</a></li>
                        <li><a href="#">Alumni Reunion and Events</a></li>
                        <li><a href="#">Job Fairs</a></li>
                        <li><a href="#">Digital Yearbook</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="community-btn">COMMUNITY INVOLVEMENT
                       <span class="fas fa-caret-down seventh"></span>
                    </a>
                    <ul class="community-show">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">CrowdFunding Projects</a></li>
                        <li><a href="#">Donatio App</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="student_org-btn">STUDENT ORGANIZATION
                       <span class="fas fa-caret-down eighth"></span>
                    </a>
                    <ul class="student_org-show">
                        <li><a href="#">Org Profile</a></li>
                        <li><a href="#">Projects and Accomplishments</a></li>
                        <li><a href="#">Financial Statements Reports</a></li>
                        <li><a href="#">Accreditation Application</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="medical-btn">MEDICAL
                       <span class="fas fa-caret-down ninth"></span>
                    </a>
                    <ul class="medical-show">
                        <li><a href="#">Patient Profile</a></li>
                        <li><a href="#">Student Medical Requirements Tracker</a></li>
                        <li><a href="#">Emergency Health Assistance</a></li>
                        <li><a href="#">PWD Profile</a></li>
                        <li><a href="#">Dental Services</a></li>
                        <li><a href="#">Medical Clearance Issuance</a></li>
                        <li><a href="#">Prescription Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content_box">
        <div class="search-container">
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" placeholder="Search...">
            <a href="{% url 'logout' %}">
                <button style="padding: 10px 20px; background-color: #FF8000; border-radius: 5px; border: none;position:absolute;top:10px;right:30px;cursor:pointer;">
                    Log out
                </button>
            </a>
            <button type="button" id="filter_summary">Print</button>  </div>
        <div class="content">
          
            <div class="form_div">
                <a href="{% url 'transaction' %}" style="height:fit-content;">
                    <img src="/static/imgs/back.png" alt="" id="back" >
                </a>
                <main>
                    <form id="filter-form" method="GET">
                        <section id="summary">
                            <section id="trans_date" style="display:flex;">
                                <div class="start_date">
                                    <label for="start-date">Start Date:</label>
                                    <input style="color: black;" type="date" id="start-date" name="start_date" value="{{ start_date }}">
                                </div>
                                <div class="end_date">
                                    <label for="end-date">End Date:</label>
                                    <input style="color: black;" type="date" id="end-date" name="end_date" value="{{ end_date }}">
                                </div>
                                <button type="submit" id="filter">Filter</button>
                            </section>
                            <h2>Transaction Summary</h2>
                            <p id="summary-period">Period: <span id="summary-period-text" style="color: black !important;margin-top: -300px;">{{ start_date }} - {{ end_date }}</span></p>
                            <p>Total Transactions: <span id="total-transactions" style="color: black;">{{ total_transactions }}</span></p>
                        </section>
                        <div style="display:flex;height:30px;margin-bottom: 100px;">
                            <div class="dropdown semester" style="margin-top: 40px;" id="semesterForm">
                                <label for="semester"><b>Select Semester:</b></label>
                                <select id="semester" name="semester" onchange="this.form.submit()">
                                    <option value="All" {% if selected_semester == 'All' %}selected{% endif %}>All Semesters</option>
                                    <option value="1st Semester" {% if selected_semester == '1st Semester' %}selected{% endif %}>1st Semester</option>
                                    <option value="2nd Semester" {% if selected_semester == '2nd Semester' %}selected{% endif %}>2nd Semester</option>
                                </select>
                            </div>
                            <label for="scholarship_year" style="margin: 10px 5px;"><b>Academic Year:</b></label>
                            <select id="scholarship_year" name="scholarship_year" onchange="this.form.submit()" style="appearance: none !important;">
                                <option value="All" {% if academic_year == 'All' %}selected{% endif %}>All Year</option>
                                {% for year in years %}
                                    <option value="{{ year }}" {% if academic_year == year %}selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <div class="onod">
                        <center><img src="{% static 'imgs/sumscholars.png' %}" alt=""></center>
                        <br><br>
                        <div class="head"><p>STUDENTS AFFAIRS OFFICE</p></div>
                        <header>
                            <h1 style="color: black !important;">SUMMARY OF SCHOLARS</h1>
                        </header>
                        <div id="summary-table">
                            <table id="sum-table">
                                <thead>
                                    <tr>
                                        <th style="font-weight: bold;">NO.</th>
                                        <th>SCHOLARSHIP PROGRAM</th>
                                        <th>MALE</th>
                                        <th>FEMALE</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for scholarship_type, data in scholarship_data.items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ scholarship_type }}</td>
                                        <td>{{ data.male_count }}</td>
                                        <td>{{ data.female_count }}</td>
                                        <td>{{ data.male_count|add:data.female_count }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="font-weight: bold;">
                                        <td colspan="2">Total</td>
                                        <td>{{ total_male }}</td>
                                        <td>{{ total_female }}</td>
                                        <td>{{ total_male|add:total_female }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer style="display:flex;">
                            <br>
                            <div class="footer1">
                                <p>Prepared by:</p>
                                <br>
                                <P>________________________</P>
                                <br>
                                <p>Scholarship Staff</p>
                            </div>
                            <div style="position:relative;left:45%;">
                                <p> Noted by:</p>
                                <br>
                                <P>________________________</P>
                                <br>
                                <p>  Dean, Student Affairs</p>
                            </div>
                        </footer>
                   </div>

                    {% for scholarship_type, details in scholarship_data.items %}
                    <section class="scholarship-section" style="margin-bottom: 50px;">
                        <h2>{{ scholarship_type }}</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Scholar ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Sex</th>
                                    <th>Semester</th>
                                    <th>GPA</th>
                                    <th>Academic Year</th>
                                    <th>Status</th>
                                    <th>Units</th>
                                    <th>Date Added</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in details.details %}
                                    {% for detail in item.semester_details %}
                                    <tr class="year-row" data-year="{{ detail.year }}">
                                        <td style="text-align: center;">{{ item.scholar.scholar_ID }}</td>
                                        <td style="text-align: center;">{{ item.scholar.studID.lastname }}</td>
                                        <td style="text-align: center;">{{ item.scholar.studID.firstname }}</td>
                                        <td style="text-align: center;">{{ item.scholar.studID.sex }}</td>
                                        <td style="text-align: center;">{{ detail.semester }}</td>
                                        <td style="text-align: center;">{{ detail.gpa }}</td>
                                        <td style="text-align: center;">{{ detail.year }}</td>
                                        <td style="text-align: center;">{{ detail.scholar_status }}</td>
                                        <td style="text-align: center;">{{ detail.total_units_enrolled }}</td>
                                        <td style="text-align: center;">{{ detail.date_added }}</td>
                                    </tr>
                                    
                                    {% endfor %}  
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                    {% endfor %}
                </main>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.getElementById("filter_summary").addEventListener("click", function() {
            window.print();
        });
    </script>
    <script>
        function filterByYear() {
            var yearInput = document.getElementById('scholarship_year').value;
            var rows = document.querySelectorAll('.year-row');

            rows.forEach(function(row) {
                var rowYear = row.getAttribute('data-year');
                if (yearInput === 'All' || rowYear === yearInput) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
