<!-- prettier-ignore -->
{% extends "adminmain.html" %} {% load static %} {% block title %}Counseling App
With Scheduler{% endblock %} {% block headcontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/counseling_app_admin.css'%}"
/>
{% endblock %} {% block bodycontent %}
<style>
  body {
    font-size: 14px;
  }
</style>
<div class="container">
  {{form.errors}}
  <div class="sub-title">
    <h3>GUIDANCE(Admin)</h3>
    <p class="hometext">Home</p>
    <p class="certxt">&gt; Counseling App with Schedule</p>
  </div>

  <div class="form-container">
    {% csrf_token %}
    <span id="search_id">
      <input
        type="text"
        name="studentID"
        placeholder="Enter ID number"
        required=""
        id="studentIDBox"
      />
      <button class="OrangeButton" id="searchButton">Search</button>
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </span>
    <table id="info_table">
      <tr id="info_table_head">
        <th>Date Received</th>
        <th>Name</th>
        <th>Program/Year and Section</th>
        <th>Contact No</th>
        <th>Date and Time of Meeting</th>
        <th>Reason for Call</th>

        <th colspan="2">Status</th>
      </tr>
      {% for schedule_request in meeting_requests %}
      <tr>
        <input
          type="hidden"
          name="counselingID"
          class="counselingID"
          value="{{ schedule_request.counselingID }}"
        />
        <td>{{ schedule_request.dateRecieved }}</td>
        <td>
          {{ schedule_request.studentID.lastname }},
          {{schedule_request.studentID.firstname }}
        </td>
        <td>
          {{ schedule_request.studentID.degree }}
          {{schedule_request.studentID.yearlvl }}
        </td>
        <td>0{{ schedule_request.studentID.contact }}</td>
        <td>
          {{ schedule_request.scheduled_date }}
          {{time|get_formatted_time:schedule_request.scheduled_time }}
        </td>
        <td>{{ schedule_request.reason }}</td>
        <td>
          {% if schedule_request.status == 'Accepted' %}
          <span class="accepted">{{ schedule_request.status }}</span>
          {% elif schedule_request.status == 'Declined' %}
          <span class="declined">{{ schedule_request.status }}</span>
          {% elif schedule_request.status == 'Pending' %}
          <span class="pending">{{ schedule_request.status }}</span>
          {% elif schedule_request.status == 'Expired' %}
          <span class="expired">{{ schedule_request.status }}</span>
          {% else %} {{ schedule_request.status }} {% endif %}
        </td>
        <td>
          <!-- prettier-ignore -->
          <div class="horizontal">
            {% if schedule_request.status != 'Expired' and schedule_request.status != 'Accepted' and schedule_request.status != 'Declined' %}
            <button class="accept">ACCEPT</button>
            <button class="decline">DECLINE</button>
            {% endif %}
            <button class="delete">DELETE</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script src="{% static 'scripts/guidance/counseling_app_admin.js'%}"></script>
{% endblock %}
