{% extends "main.html" %} {% load static %} {% block title %}Counseling App With
Scheduler{% endblock %} {% block headcontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/counseling_app.css'%}"
/>
{% endblock %} {% block bodycontent %}
  <div class="sub-title">
    <h3>GUIDANCE</h3>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</p>
    <p class="certxt">&gt; Counseling App with Scheduler</p>
  </div>
  <div class="container">

    <div class="form-container">
      <form method="post" action="" id="requestForm">
        {% csrf_token %}
        <input
          type="hidden"
          id="student_id_val"
          name="student_id_val"
          value="{{ user.username }}"
        />
        <h2>Request Counseling Schedule</h2>

        <div id="requestScheduleContainer">
          <label>Reason of counseling</label>
          {{ form.reason }}
          <div id="datetimepicker">
            <label>Schedule Date and Time</label>
            {{ form.scheduled_date }} {{ form.scheduled_time }}
          </div>
          <label>Email Address:</label>
          {{ form.email }}
          <button type="submit" class="OrangeButton">Request</button>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'scripts/guidance/counseling_app.js'%}"></script>
  {% endblock %}
</div>
