<!-- prettier-ignore -->

{% extends "adminmain.html" %} {% load static %} {% block title %}Exit
Interview{% endblock %} {% block headcontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/counseling_app_admin.css'%}"
/>
<style>
  .admin-table-wrapper {
    overflow-y: auto;
  }
</style>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/exit_form.css'%}"
/>
<script src="{% static 'scripts/guidance/html2pdf.js'%}"></script>
{% endblock %} {% block bodycontent %}
 
<div class="container">
  {{form.errors}}
  <div class="sub-title">
    <h3>GUIDANCE (Admin)</h3>
    <p class="hometext">Home</p>
    <p class="certxt">&gt; Exit Interview</p>
  </div>
  <div class="form-container">
    {% csrf_token %}
    <h2>Exit Interview Request List</h2>
    <label>Enter ID number:</label>
    <span id="search_id">
      <input
        type="text"
        name="studentID"
        placeholder="search"
        required=""
        id="studentIDBox"
      />
      <button class="OrangeButton" id="searchButton">Search</button>
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </span>
    <div class="admin-table-wrapper">
      <table id="info_table">
        <tr id="info_table_head">
          <th>DATE RECEIVED</th>
          <th>STUDENT ID</th>
          <th>NAME</th>
          <th colspan="3">STATUS</th>
        </tr>
        {% for interview_request in exit_interview_request %}
        <tr>
          <!-- prettier-ignore -->
          <input
          type="hidden"
          name="exitinterviewId"
          class="exitinterviewId"
          value="{{ interview_request.exitinterviewId }}"
        />
          <td>{{ interview_request.dateRecieved }}</td>
          <td>{{ interview_request.studentID.studID }}</td>
          <td>
            {{ interview_request.studentID.lastname }},
            {{interview_request.studentID.firstname }}
          </td>
          <td>
            {% if interview_request.status == 'Accepted' %}
            <span class="accepted">{{ interview_request.status }}</span>
            {% elif interview_request.status == 'Declined' %}
            <span class="declined">{{ interview_request.status }}</span>
            {% elif interview_request.status == 'Pending' %}
            <span class="pending">{{ interview_request.status }}</span>
            {% elif interview_request.status == 'Expired' %}
            <span class="expired">{{ interview_request.status }}</span>
            {% endif %}
          </td>
          <td>
            <!-- prettier-ignore -->

            <div class="horizontal">
            {% if interview_request.status != 'Expired' %} 
            {% if interview_request.status != 'Accepted' %} 
            {% if interview_request.status != 'Declined' %}
            <button class="accept" id="acceptButton">ACCEPT</button>
            <button class="decline" id="declineButton">DECLINE</button>
            {% endif %} {% endif %} {% endif %}
            <button class="delete" id="delete">DELETE</button>
          </div>
          </td>
          <td>
            {% csrf_token %} {% if interview_request.status == 'Accepted' %}
              <a 
                href="{% url 'print_exit_interview' interview_request.exitinterviewId %}" 
                class="showformButton" 
                target="_blank"
              >
                SHOW FORM
              </a>
            {% else %}
              <a href="#" class="showformButton hidden">SHOW FORM</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'scripts/guidance/exit_interview_admin.js'%}"></script>
{% endblock %}
