



{% extends "adminmain.html" %}
{% load static %}
{% block title %}Counseling App With Scheduler{% endblock %}
{% block headcontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/intake.css'%}"
/>
{% endblock %}
{% block bodycontent %}

    <div class="container">
    <div class="sub-title">
    <h3>GUIDANCE (ADMIN)</h3>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</p>
    <p class="certxt">&gt; Intake Interview</p>
  </div>

        <div class="form-container">
           <form>
    {% csrf_token %}

    <label>Enter ID number:</label>
    <span id="search_id">
        <input type="text" name="studentID" placeholder="search"  id="studentIDBox" list="student-options">
        <datalist id="student-options">
            {% for student in students %} 
            <option value="{{ student.studID }}">
                {{ student.firstname }} {{ student.lastname }}
            </option>
            {% endfor %}
        </datalist>
        <button class="OrangeButton" id="searchButton" style="display: none;">Search</button>
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </span>
    
    <table id="info_table" class="hidden">
        <tr id="student_details_row">
            <td colspan="5">
                <div id="student_details">
                    <p><strong>Student:</strong> <span id="student_name"></span></p>
                    <p><strong>Course/Year:</strong> <span id="student_course"></span> / <span id="student_year"></span></p>
                </div>
            </td>
        </tr>
        
        <tr id="info_table_head">
            <th>PROFILE NO</th>
            <th>STUDENT ID</th>
            <th>NAME</th>
            <th>DATE FILLED</th>
            <th></th>
        </tr>
        </table>
</form>            <form method="post" action="" id="intakeForm" class="hidden">
                {% csrf_token %}
                <input type="hidden" name="individualId" id="individualId">
                <label>I. Individual Inventory Service</label>
                <table id="individual_inventory">
                    <tr>
                        <th>Acitivity/Form</th>
                        <th>Date Accomplished</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="individualrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualActivity[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="individualAccomplished[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="individualRemarks[]">
                            </div>
                        </td>
                    </tr>
                </table>
                <label>II. Appraisal Service</label>
                <table id="appraisal">
                    <tr>
                        <th>Test</th>
                        <th>Date Taken</th>
                        <th>Date Interpreted</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="appraisalrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalTest[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateTaken[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="appraisalDateInterpreted[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="appraisalRemarks[]">
                            </div>
                        </td>
                    </tr>
                </table>
                <label>III. Counseling Service</label>
                <table id="counseling">
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Concern</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="counselingrowTemplate">
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type1[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type1[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type2[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type2[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type3[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type3[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type4[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type4[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type5[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type5[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="counselingrowTemplate">
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type6[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type6[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type7[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type7[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type8[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type8[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type9[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type9[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                        <td>
                            <div class="inoutschool field_container side-way">    
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_0"><input type="radio" name="couseling_type10[]" value="True" class="side-way" >
                                        Walk-in
                                    </label>
                                </div>
                                <div id="counseling_type" class="side-way">
                                    <label for="id_couseling_type_1"><input type="radio" name="couseling_type10[]" value="False" class="side-way" >
                                        Referral
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counselingDate[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingConcern[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counselingRemarks[]">
                            </div>
                        </td>
                    </tr>
                </table>
                <label>IV. Follow-up Service</label>
                <table id="follow">
                    <tr>
                        <th>Activity/Form</th>
                        <th>Date</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="followrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="followActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="followDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="followRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="followrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="followActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="followDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="followRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="followrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="followActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="followDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="followRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="followrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="followActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="followDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="followRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="followrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="followActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="followDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="followRemarks[]">
                            </div>
                        </td>
                    </tr>
                </table>

                <label>V. Information Service</label>
                <table id="information">
                    <tr>
                        <th>Activity/Form</th>
                        <th>Date</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="sibllingsrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="informationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="informationRemarks[]">
                            </div>
                        </td>
                    </tr>
                </table>
                <label>VI. Consultation Service</label>
                <table id="consultation">
                    <tr>
                        <th>Activity/Form</th>
                        <th>Date</th>
                        <th>Remarks</th>
                    </tr>
                    <tr class="consultationrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counseltationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="consultationrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counseltationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="consultationrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counseltationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="consultationrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counseltationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    <tr class="consultationrowTemplate">
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationActivity[]">
                            </div>      
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="date" name="counseltationDate[]">
                            </div>
                        </td>
                        <td>
                            <div class="field_container">
                                <input type="text" name="counseltationRemarks[]">
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <div class="center_object">
                    <button type="submit" class="OrangeButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'scripts/guidance/intake.js'%}"></script>   <script src="{% static 'scripts/searchstudent.js'%}"></script>
{% endblock %}