{% extends "main.html" %} {% load static %} {% block title %}OJT
Assessments/Psychological Issuance{% endblock %} {% block headcontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/guidance/ojt_assessment.css'%}"
/>
{% endblock %} {% block bodycontent %}

<div class="container">
  {{form.errors}}
  <h3>GUIDANCE</h3>
  <span
    ><label id="dir-gray">Home</label
    ><label id="dir-orange">
      > OJT Assessments/Psychological Issuance</label
    ></span
  >
  <div class="form-container">
    <form>
      {% csrf_token %}

      <table id="info_table">
        <tr id="info_table_head">
          <th>NAME</th>
          <th>COURSE</th>
        </tr>
      </table>
    </form>
    <form method="post" action="" id="requestForm">
      {% csrf_token %}
      <input type="hidden" id="student_id_val" name="student_id_val" />
      <label>School Year:</label>
      {{ form.schoolYear }}
      <label>Email Address:</label>
      {{form.emailadd}}
      <button type="submit" class="OrangeButton">Request</button>
    </form>
  </div>
</div>
<script src="{% static 'scripts/guidance/ojt_assessment.js'%}"></script>
<script src="{% static 'scripts/guidance/intake.js'%}"></script>

{% endblock %}
