{% extends 'adminmain.html' %} {% load static %} {% block bodycontent %}

<link rel="stylesheet" href="{% static 'studentorg/css/tables.css' %}" />

<div class="sub-title">
  <h3>Student Organization(Admin)</h3>
  <p class="hometext">Home</p>
  <p class="certxt">&gt; Financial Management</p>
</div>
<div class="container">
  <div class="tabs">
    <div class="tabs">
      <a href="{% url 'admin_manageofficer' %}" class="tab">Manage Officer</a>
      <a href="{% url 'admin_manageadviser' %}" class="tab">Manage Adviser</a>
      <a href="{% url 'admin_manageproject' %}" class="tab">Manage Projects</a>
      <a href="{% url 'admin_managefinancial' %}" class="tab active"
        >Manage Financial</a
      >
      <a href="{% url 'admin_manage_accreditations' %}" class="tab"
        >Manage Applications</a
      >
      <a href="/admin_transactionreport" class="tab">Manage Transactions </a>
    </div>
  </div>

  <div class="maincontain">
    <div class="subcontain">
      <table>
        <thead>
          <tr>
            <th>Financial ID</th>
            <th>Date</th>
            <th>Purpose</th>
            <th>Source of Funds</th>
            <th>Organizations</th>
            <th>Amount</th>
            <th>Remarks</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for statement in statements %}
          <tr>
            <td>{{ statement.financial_id }}</td>
            <td>{{ statement.date }}</td>
            <td>{{ statement.purpose }}</td>
            <td>{{ statement.source_of_funds }}</td>
            <td>{{statement.org}}</td>
            <td>{{ statement.amount }}</td>
            <td>{{ statement.remarks }}</td>
            <td>{{ statement.get_status_display }}</td>
            <td>
              <form method="post" style="display: inline">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="financial_id"
                  value="{{ statement.financial_id }}"
                />
                {% if statement.status == 'pending' %}
                <button
                  type="submit"
                  style="background-color: #66bb6a"
                  class="button"
                  name="action"
                  value="approve"
                >
                  Approve
                </button>
                <button
                  type="submit"
                  style="background-color: #ef5350"
                  class="button"
                  name="action"
                  value="decline"
                >
                  Decline
                </button>
                {% endif %}
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock bodycontent %}
