{% extends 'adminmain.html' %} {% load static %} {% block bodycontent %}

<link rel="stylesheet" href="{% static 'studentorg/css/tables.css' %}" />

<div class="sub-title">
  <h3>Student Organization(Admin)</h3>
  <p class="hometext">Home</p>
  <p class="certxt">&gt; Project Management</p>
</div>
<div class="container">
  <div class="tabs">
    <div class="tabs">
      <a href="{% url 'admin_manageofficer' %}" class="tab">Manage Officer</a>
      <a href="{% url 'admin_manageadviser' %}" class="tab">Manage Adviser</a>
      <a href="{% url 'admin_manageproject' %}" class="tab active"
        >Manage Projects</a
      >
      <a href="{% url 'admin_managefinancial' %}" class="tab"
        >Manage Financial</a
      >
      <a href="{% url 'admin_manage_accreditations' %}" class="tab"
        >Manage Applications</a
      >
      <a href="/admin_transactionreport" class="tab">Manage Transactions </a>
    </div>
  </div>

  <div class="maincontain" style="width: 1200px">
    <div class="subcontain">
      <table>
        <thead>
          <tr>
            <th>Project ID</th>
            <th>Objective</th>
            <th>Program Strategies</th>
            <th>Organizations</th>
            <th>Target</th>
            <th>Involved Officer</th>
            <th>Proposed Budget</th>
            <th>Expected Output</th>
            <th>Actual Accomplishments</th>
            <th>Remarks</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{ project.project_id }}</td>
            <td>{{ project.objective }}</td>
            <td>{{ project.activities }}</td>
            <td>{{project.org}}</td>
            <td>{{ project.target }}</td>
            <td>{{ project.involved_officer }}</td>
            <td>{{project.p_budget}}</td>
            <td>{{ project.expected_output }}</td>
            <td>
              {% if project.actual_accomplishment %}
              <a href="{{ project.actual_accomplishment.url }}" target="_blank"
                >View File</a
              >
              {% else %} No file uploaded {% endif %}
            </td>
            <td>{{ project.remarks }}</td>
            <td>{{ project.get_status_display }}</td>
            <td>
              <form method="post" style="display: inline">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="project_id"
                  value="{{ project.project_id }}"
                />
                {% if project.status == 'pending' %}
                <button
                  type="submit"
                  name="action"
                  style="background-color: #66bb6a"
                  class="button"
                  value="approve"
                >
                  Approve
                </button>
                <button
                  type="submit"
                  name="action"
                  style="background-color: #ef5350"
                  class="button"
                  value="decline"
                >
                  Decline
                </button>
                {% endif %}
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock bodycontent %}
