{% extends "main.html" %} {% load static %} {% block title %}Student
Organization (FSTLP){% endblock %} {% block headcontent %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link rel="stylesheet" href="{% static 'studentorg/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'studentorg/css/org.css' %}" />
<link rel="stylesheet" href="{% static 'studentorg/css/general.css' %}" />
<link rel="stylesheet" href="{% static 'studentorg/css/tables.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %} {% block bodycontent %}
<div class="pcontainer">
  <div class="headert">
    <h1>Future Science and Technology Leaders of the Philippines</h1>
  </div>
  <p class="pages">
    <a href="/Gen_Home">Orgs</a> > <a href="/Gen_FSTLP_profile">Profiles</a> >
    <a href="Gen_FSTLP_viewofficer">View Officers</a>
  </p>

  <div class="tabs">
    <a href="/Gen_FSTLP_profile" class="tab active">Profiles</a>
    <a href="/Gen_FSTLP_viewproject" class="tab">Projects</a>
    <a href="/Gen_FSTLP_viewfinancial" class="tab">Financial Statements</a>
  </div>

  <div class="maincontain">
    <div class="subcontain">
      <table>
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Course</th>
            <th>Position</th>
            <th>Organization</th>
          </tr>
        </thead>
        <tbody>
          {% for officer in statements %}
          <tr>
            <td>{{ officer.surname }}</td>
            <td>{{ officer.firstname }}</td>
            <td>{{ officer.middlename }}</td>
            <td>{{ officer.course }}</td>
            <td>{{ officer.position }}</td>
            <td>{{ officer.organization }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
