{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Organization (Equationers)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/org.css' %}">
    <link rel="stylesheet" href="{% static '/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static '/css/general.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div class="nav-container">
        <div class="orange-bar">
            <img src="{% static '/css/CTU_logo.png' %}" class="logo">
            <img src="{% static '/css/barSort.png' %}" class="bars">
        </div>

        <nav class="side-nav">
            <ul>
                <li>
                    <a href="#" class="studentlife-btn">
                        OFFICE OF STUDENT LIFE
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="studentlife">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Good Moral Certificate Issuance</a></li>
                        <li><a href="#">PPMP Tracker</a></li>
                        <li><a href="#">Monthly Calendar of Activites</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="scholar-btn">
                        SCHOLARSHIP
                        <span class="fas fa-caret-down second"></span>
                    </a>
                    <ul class="scholar-show">
                        <li><a href="#">Submission of Requirements Tracker</a></li>
                        <li><a href="#">Scholars Profile and Validation</a></li>
                        <li><a href="#">Grade Submission with GPA Computation</a></li>
                        <li><a href="#">Mentorship Program</a></li>
                        <li><a href="#">Admin Cost Liquidation Tracker</a></li>
                        <li><a href="#">CHED Reports Submission</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="jobplace-btn">
                        JOB PLACEMENT
                        <span class="fas fa-caret-down third"></span>
                    </a>
                    <ul class="jobplace-show">
                        <li><a href="#">OJT Hiring</a></li>
                        <li><a href="#">Career Guidance Tracker</a></li>
                        <li><a href="#">OJT Requirements Tracker</a></li>
                        <li><a href="#">Non-Academic Award Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="student_disc-btn">
                        STUDENT DISCIPLINE
                        <span class="fas fa-caret-down fourth"></span>
                    </a>
                    <ul class="student_disc-show">
                        <li><a href="#">Case Profile</a></li>
                        <li><a href="#">Hours Rendered for Community Service Tracker</a></li>
                        <li><a href="#">Good Moral Certificate Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="guide-btn">
                        GUIDANCE
                        <span class="fas fa-caret-down fifth"></span>
                    </a>
                    <ul class="guide-show">
                        <li><a href="#">Individual Profile with Guidance Concern</a></li>
                        <li><a href="#">Counseling App with Scheduler</a></li>
                        <li><a href="#">Intake Interview</a></li>
                        <li><a href="#">Exit Interview</a></li>
                        <li><a href="#">OJT Assessments/Psychological Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="alumni-btn">
                        ALUMNI
                        <span class="fas fa-caret-down sixth"></span>
                    </a>
                    <ul class="alumni-show">
                        <li><a href="#">Alumni ID Requests</a></li>
                        <li><a href="#">Graduate Tracer</a></li>
                        <li><a href="#">Alumni Reunion and Events</a></li>
                        <li><a href="#">Job Fairs</a></li>
                        <li><a href="#">Digital Yearbook</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="community-btn">
                        COMMUNITY INVOLVEMENT
                        <span class="fas fa-caret-down seventh"></span>
                    </a>
                    <ul class="community-show">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">CrowdFunding Projects</a></li>
                        <li><a href="#">Donatio App</a></li>
                        <li><a href="#">Transaction Reports</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="student_org-btn">
                        STUDENT ORGANIZATION
                        <span class="fas fa-caret-down eight"></span>
                    </a>
                    <ul class="student_org-show">
                        <li><a href="#" class="active">Org Profile</a></li>
                        <li><a href="#">Projects and Accomplishments</a></li>
                        <li><a href="#">Financial Statements Reports</a></li>
                        <li><a href="#">Accreditation Application</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="medical-btn">
                        MEDICAL
                        <span class="fas fa-caret-down ninth"></span>
                    </a>
                    <ul class="medical-show">
                        <li><a href="#">Patient Profile</a></li>
                        <li><a href="#">Student Medical Requirements Tracker</a></li>
                        <li><a href="#">Emergency Health Assistance</a></li>
                        <li><a href="#">PWD Profile</a></li>
                        <li><a href="#">Dental Services</a></li>
                        <li><a href="#">Medical Clearance Issuance</a></li>
                        <li><a href="#">Prescription Issuance</a></li>
                        <li><a href="#">Transaction Reports</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="search-container">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Search...">

    </div>

    <div class="pcontainer">
        <div class="headert">
            <h1>The Equationers</h1>
        </div>
        <p class="pages"><a href="/Gen_Home">Orgs</a> > <a href="/Gen_THEEQUATIONERS_profile">Profiles</a></p>

        <div class="tabs">
            <a href="/Gen_THEEQUATIONERS_profile" class="tab active">Profiles</a>
            <a href="/Gen_THEEQUATIONERS_viewproject" class="tab">Projects</a>
            <a href="/Gen_THEEQUATIONERS_viewfinancial" class="tab">Financial Statements</a>
    
         </div>

        <div class="maincontain">
            <div class="subcontain">
                <div class="text-content">
                    <div class="f1">
                        <h1>THE EQUATIONERS LOGO SYMBOLISM</h1>
                        <img src="{% static '/css/org3.png' %}" class="logoimg">
                    </div>
                    <p class="top bot">In the realm of engineering, symbolism can often be found embedded
                        within the tools, colors, and concepts that shape the profession. From the authoritative hue of
                        blue to the practicality symbolized by a yellow hard hat, each element carries layers of meaning
                        that resonate within the engineering community. Let's delve into these symbols, unraveling their
                        significance in the context of trust, innovation, and optimism that define the engineer's world.
                        <div class="con bot">
                            <a href="/THEEQUATIONERS_CBL" class="button">View CBL</a>
                           
                            <a href="/Gen_THEEQUATIONERS_viewofficer" class="button">List of Officers</a>
                                       
                            <a href="/Gen_THEEQUATIONERS_viewadviser" class="button">List Adviser</a> 
                        </div>
                    </p>

                    <h2 class="pf">Key elements of the logo include:</h2>

                    <ul>
                        <li><strong>Blue</strong> - denotes authority, trust, and confidence. It also associated with
                            freedom, intuition, imagination, inspiration, and sensitivity in which an engineer should
                            possess.</li>
                        <li><strong>Yellow</strong> - if associated with construction. It is easy to see even in
                            challenging conditions.</li>
                        <li><strong>White</strong> - symbolizes softness and cleanliness because even though engineers
                            are often viewed as serious and intimidating, they also possess these kinds of characters.
                        </li>
                        <li><strong>System Symbol</strong> - as an Industrial Engineering, it requires an organization
                            of ideas and innovations to be shared with everyone.</li>
                        <li><strong>Yellow Hard Hat</strong> - represents a thinking that you looked at issues in the
                            most positive light possible.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static ' /css/main.js' %}">
    </script>
</body>

</html>