{% extends 'main.html' %} {% block headcontent %}
<style>
  form {
    margin-top: 0 !important;
  }
</style>
{% endblock headcontent %} {% block bodycontent %}
<section>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_email">Email address:</label>
      {{ form.email }}
    </div>
    <div>
      <label for="id_password1">Password:</label>
      {{ form.password1 }}
    </div>
    <div>
      <label for="id_password2">Password confirmation:</label>
      {{ form.password2 }}
    </div>
    <button type="submit">Sign Up</button>
  </form>
</section>
{% endblock bodycontent %}
