{% extends base_template|default:"main.html" %}

    {% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static 'styles/job_placement/ojt_req.css' %}?259">    
{% endblock headcontent %}

{% block bodycontent %}
<section>
    {% if request.user.is_staff %}
        <div class="sub-title">
  <h4>JOB PLACEMENT</h4>
  <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
  <p class="certxt">&gt; OJT Requirements/Documents Submission Tracker</p>
</div>
<hr>

        <div id="main_container">
           <div class="gmc-form">
            <form action="{% url 'ojt_requirements_tracker' %}" method="GET" class="filter-form">
                 <input id="search_bar" type="text" name="student_search" placeholder="Search by Student ID or Name" value="{{ search_query }}">
                
                <ul id="search_suggestions">
                </ul>
                
                <input id="attend_student_list" type="submit" value="Search">
                <select name="degree_filter" onchange="this.form.submit()">
                    <option value="">All Degrees</option>
                    {% for degree in all_degrees %}
                        <option value="{{ degree }}" {% if degree == selected_degree %}selected{% endif %}>
                            {{ degree }}
                        </option>
                    {% endfor %}
                </select>

                <select name="sort_by" onchange="this.form.submit()">
                    <option value="latest" {% if sort_by == 'latest' %}selected{% endif %}>
                        Latest to Oldest
                    </option>
                    <option value="oldest" {% if sort_by == 'oldest' %}selected{% endif %}>
                        Oldest to Newest
                    </option>
                </select>
               
            </form>
           

            <div class="admintable">
                <table id="trackerTable">
                    <thead>
                        <tr>
                            <th>Name of Company</th>
                            <th>Name of Student</th>
                            <th>NDA</th>
                            <th>BIODATA</th>
                            <th>PARENT'S CONSENT</th>
                            <th>APPLICATION LETTER</th>
                            <th>MEDICAL</th>
                            <th>MOA</th>
                            <th>ENDORSEMENT LETTER</th>
                            <th>CERTIFICATION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for req in req_records %}
                        <tr>
                            <td>{{ req.student_id.degree }}</td>

                                <td>{{ req.student_id.lastname }}, {{ req.student_id.firstname }} </td>
                            
                            <td>
                                {% if req.nondis_stat == "Pending" %}
                                  <button type="button" class="view-pdf" 
                                    value="{{ req.ojt_requirement_id }}" 
                                    name="nondis"
                                    data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.nondis_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.biodata_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="biodata"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.biodata_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.consent_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="consent"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.consent_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.apl_letter_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="apl_letter"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.apl_letter_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.medical_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="medical"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.medical_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.moa_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}"  
                                      name="moa"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.moa_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.endorsement_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="endorsement"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.endorsement_stat }}
                                {% endif %}
                            </td>
                            <td>
                                {% if req.cert_stat == "Pending" %}
                                    <button type="button" class="view-pdf" 
                                      value="{{ req.ojt_requirement_id }}" 
                                      name="cert"
                                      data-url="{% url 'view_pdf' req.ojt_requirement_id %}">Pending</button>
                                {% else %}
                                    {{ req.cert_stat }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            </div>
            
            <div class="showcontainer">
                <div class="showform">
                    <button class="closeform">×</button>
                    
                    <iframe id="pdf-iframe" src="" width="100%" height="800" title="PDF Document Viewer"></iframe>
                    
                    <div class="button-container">
                        <form action="{% url 'ojt_requirement_update' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="accept">
                            <input type="hidden" name="req_id" value="">
                            <input type="hidden" name="attr_name" value="">
                            <input type="submit" value="Accept" class="accept-button">
                        </form>
                
                        <form action="{% url 'ojt_requirement_update' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="declined">
                            <input type="hidden" name="req_id" value="">
                            <input type="hidden" name="attr_name" value="">
                            <input type="submit" value="Decline" class="decline-button">
                        </form>
                    </div>
                    <button class="button close-button">Close</button>
                </div>
            </div>
            </div>
    {% else %}
        <div class="sub-title">
  <h4>JOB PLACEMENT</h4>
  <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
  <p class="certxt">&gt; OJT Requirements/Documents Submission</p>
</div>
<hr>
        <div id="balo">
            <p>Please double check all documents before submission. </p>
            <p>Submit requirements in PDF or Image format</p>
        </div>
        <div class="showbox">
            <form action="{% url 'ojt_requirements_submit' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Non-Disclosure:</label>
                    {% if form.non_disclosure.value %}
                        <p class="file_name">{{ form.non_disclosure.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.non_disclosure.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.nondis_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.nondis_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.nondis_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Biodata:</label>
                    {% if form.biodata.value %}
                        <p class="file_name">{{ form.biodata.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.biodata.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.biodata_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.biodata_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.biodata_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Parents Consent:</label>
                    {% if form.parents_consent.value %}
                        <p class="file_name">{{ form.parents_consent.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.parents_consent.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.consent_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.consent_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.consent_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Application Letter:</label>
                    {% if form.application_letter.value %} <p class="file_name">{{ form.application_letter.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.application_letter.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.apl_letter_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.apl_letter_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.apl_letter_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>  
                <hr>

                <div class="form-group">
                    <label for="">Medical:</label>
                    {% if form.medical.value %} <p class="file_name">{{ form.medical.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.medical.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.medical_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.medical_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.medical_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">MOA:</label>
                    {% if form.moa.value %} <p class="file_name">{{ form.moa.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.moa.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.moa_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.moa_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.moa_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Endorsement Letter:</label>
                    {% if form.endorsement.value %} <p class="file_name">{{ form.endorsement.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.endorsement.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.endorsement_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.endorsement_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.endorsement_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Certification:</label>
                    {% if form.certification.value %} <p class="file_name">{{ form.certification.value }}</p>
                    {% else %}
                        <input type="file" name="{{ form.certification.name }}" class="file-input">
                    {% endif %}
                    {% if existing_form %}
                        {% if existing_form.cert_stat == existing_form.PENDING %}  <p class="pending">Pending</p>
                        {% elif existing_form.cert_stat == existing_form.ACCEPTED %}
                            <p class="accepted">Accepted</p>
                        {% elif existing_form.cert_stat == existing_form.DECLINED %}
                            <p class="declined">Declined</p>
                        {% else %}
                            <p class="nofile">No File</p>
                        {% endif %}
                    {% else %}
                        <p class="no_file">No File</p>
                    {% endif %}
                </div>
                <hr>
                <div class="form-group">
                    <input type="submit" value="Submit" class="submit-button">
                </div>
            </form></div>
        </div>
        
    {% endif %}

</section>
<script src="{% static 'scripts/job_placement/ojt_requirements.js' %}?v=1002" ></script>
{% endblock bodycontent %}