{% extends base_template|default:"main.html" %} {% block headcontent %}

<!-- ignore prettier -->
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'styles/job_placement/seminarpage.css' %}?506"
/>
{% endblock headcontent %} {% block bodycontent %}
<div class="container">
  <div class="sub-title">
    <h3>JOB PLACEMENT</h3>
    <p class="hometext">Home</p>
    <p class="certxt">&gt; Career Guidance Tracker</p>
  </div>
  {% if request.user.is_staff %}
  <div class="button-container">
    <button class="showform">Add Event</button>
  </div>
  {% endif %}
  <hr id="demo" />

  {% for seminar in seminars %}
  <div class="scontainer">
    <div class="card">
      {% if request.user.is_staff %}
      <form
        action="{% url 'jobplacement:seminar_delete' seminar.seminar_id %}"
        method="POST"
        id="myForm"
        class="delete-form"
      >
        {% csrf_token %}
        <button type="submit" class="delete-btn" title="Delete">
          <i class="fas fa-trash"></i>
        </button>
      </form>
      {% endif %}

      <div class="info-group">
        <h3>Title:</h3>
        {% if request.user.is_staff %}

        <a href="{% url 'jobplacement:manage_att' seminar.seminar_id %}"
          >{{ seminar.title }}</a
        >
        {% else %}
        <h3 class="hiring">{{ seminar.title }}</h3>
        {% endif %}
      </div>
      <div class="info-group">
        <h3>Theme:</h3>
        <h3 class="hiring">{{ seminar.theme }}</h3>
      </div>
      <div class="info-group">
        <h2 style="color: rgb(128, 128, 128)">Date of Event: &nbsp;</h2>
        <h2 style="color: gray" class="hiring">{{ seminar.date_of_event }}</h2>
      </div>
      {% if seminar.image %}
      <img src="{{ seminar.image.url }}" alt="{{ seminar.title }}" />
      {% else %}
      <p>No image available</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="showform_container">
    <div class="form_container">
      <button class="closeform">×</button>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="{{ form.title.name }}">Title</label>
        <input type="text" name="{{ form.title.name }}" />

        <label for="{{ form.title.name }}">Theme</label>
        <input type="text" name="{{ form.theme.name }}" />

        <label for="date">Date of Event:</label>
        <input
          id="date_filter"
          type="date"
          name="{{ form.date_of_event.name }}"
        />

        <label for="image">Upload Image</label>
        {{ form.image }}

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
<script src="{% static 'scripts/job_placement/ojthiring_show.js' %}?320"></script>
{% endblock bodycontent %}
