/* Page Title Section */
.sub-title {
  text-align: center;
}

.sub-title h3 {
  font-size: 24px;

  color: #2b2b2b;
}

.sub-title p {
  display: inline;
  font-size: 14px;
}

.hometext {
  color: #666;
}

.certxt {
  margin-left: 5px;
  color: #2c5282;
  font-weight: 500;
}
