.content {
  display: flex;
  padding: 20px;
  height: 89.5vh;
  overflow: auto;
  background-color: #fff;
}
.content h1 {
  color: black;
}

.form_div {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 98%;
  padding: 20px;
}

/* -------------------------- dayskie code ---------------------- */

.title {
  display: flex;
  position: relative;
  height: 100px;
  background-color: #ff800071;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 34, 0.3);
  left: 20%;
}
.title img {
  width: 150px;
  height: 100px;
}
.title h2 {
  top: 20px;
  position: relative;
  width: 320px;
  height: 100px;
  padding-left: 10px;
  color: blue !important;
}
.logo-nav {
  display: flex;
  position: relative;
  top: 100px;
  right: 340px;
  height: 100px;
}
.logo-nav img {
  width: 260px;
  height: 150px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.575);
  box-shadow: 5px 7px 2px 1px rgba(0, 0, 34, 0.3);
}

.logo-container {
  margin: 30px;
  color: black;
}

.logo-container button {
  color: white;
  margin: 10px 50px;
  cursor: pointer;
  width: 200px;
  outline: none;
  border: none;
  padding: 8px 5px;
  background-color: #ff8000cc;
  box-shadow: 3px 4px 2px 1px rgba(0, 0, 34, 0.3);
  border-radius: 50px;
  font-weight: 700;
  position: relative;
  right: 20px;
}

/*  --------------- sa table ---------------- */

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.container * {
  color: black !important;
}
.container {
  width: 102%;
  position: relative;
  top: 30px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1) inset;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.student {
  text-align: center;
}

.header-center {
  text-align: center;
  flex: 1;
}

.header-left,
.header-right {
  width: 15%;
}

.logo2 {
  width: 100px;
  position: relative;
}

.reference {
  text-align: right;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100% !important;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.table-title {
  text-align: left;
  font-weight: bold;
}

.table-subtitle {
  text-align: left;
}

.table-notice {
  text-align: left;
  font-style: italic;
}

.instructions-left,
.instructions-right {
  vertical-align: top;
}

.instructions-left ol,
.instructions-right ul {
  margin: 0;
  padding-left: 20px;
}

footer {
  text-align: center;
}
.spacer {
  font-style: italic;
}

.certifications {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.certifications > div {
  flex: 1 1 250px; /* Flexbox properties to control item width */
  margin: 10px; /* Add some spacing between items */
  text-align: left; /* Align text to the left within each item */
}

.header-left {
  position: relative;
  left: 12%;
}
.header-left img {
  width: auto;
  max-width: 800px; /* or any desired maximum width */
  height: auto; /* Maintain aspect ratio */
}

/* Bottons */

#semesterForm {
  position: relative;
  top: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: fit-content;
  left: 200px;
  color: black !important;
}

#semesterForm * {
  color: black !important;
}

#semesterForm #semester {
  margin-right: 50px;
  padding: 5px;
  background-color: #ff8000fb;
  color: white !important;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

#semesterForm #semester option {
  color: black;
  background-color: white;
}

#semesterForm #semester::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

#semesterForm {
  position: relative;
}

#scholarship_year {
  padding: 5px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 150px;
  text-indent: 6px;
  padding: 7px;
  border: 1px solid #ff8000fb;
  color: white;
  margin-right: 20px;
}

#scholarship_year::placeholder {
  color: white;
}

#printButton {
  padding: 10px 20px;
  background-color: #1f73c2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 160px;
  color: white !important;
}

#allYearsButton {
  padding: 10px 20px;
  background-color: #ff8000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  color: white !important;
}

#logOut {
  padding: 10px 20px;
  background-color: #ff8000;
  border-radius: 5px;
  border: none;
}

#back {
  width: 30px;
  height: 30px;
}
