/* Page Title Section */
.sub-title {
  text-align: center;
  margin-bottom: 20px;
}

.sub-title h3 {
  font-weight: bold;
  font-size: 24px;

  color: #2b2b2b;
}
hr {
  margin-bottom: 20px;
}
.sub-title p {
  display: inline;
  font-size: 14px;
}

.hometext {
  color: #666;
}

.certxt {
  margin-left: 5px;
  color: #5db0e4;
  font-weight: 500;
}
