{% extends "main.html" %} {% load static %} {% block title %}Student
Organization (FSTLP){% endblock %} {% block headcontent %}
<link rel="stylesheet" href="{% static '/studentorg/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/studentorg/css/org.css' %}" />
<link rel="stylesheet" href="{% static '/studentorg/css/general.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %} {% block bodycontent %}
<div class="pcontainer">
  <div class="headert">
    <h1>Future Science and Technology Leaders of the Philippines</h1>
  </div>
  <p class="pages">
    <a href="{% url 'home' %}">Orgs</a> >
    <a href="{% url 'FSTLP_projects' %}">Projects</a>
  </p>

  <div class="tabs">
    <a href="{% url 'FSTLP_profile' %}" class="tab">Profiles</a>
    <a href="{% url 'FSTLP_projects' %}" class="tab active">Projects</a>
    <a href="{% url 'FSTLP_financial' %}" class="tab">Financial Statements</a>
    <a href="{% url 'FSTLP_accreditation' %}" class="tab"
      >Accreditation Application</a
    >
  </div>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="maincontain">
      <div class="form-column">
        <h1 class="hd">Project Form</h1>
        <div class="form-group" style="padding-top: 20px">
          <label for="objective">Objective</label>
          <input type="text" id="objective" name="objective" required />
        </div>
        <div class="form-group">
          <label for="activities">Activities/Program Strategies:</label>
          <textarea id="activities" name="activities" required></textarea>
        </div>
        <div class="form-group con">
          <label for="target">Target:</label>
          <select id="target" name="target" required>
            <option value="Q1">Q1</option>
            <option value="Q2">Q2</option>
            <option value="Q3">Q3</option>
            <option value="Q4">Q4</option>
          </select>

          <label for="org">Organizations</label>
          <select id="org" name="org" required>
            <option value="FSTLP">FSTLP</option>
          </select>
        </div>
        <div class="form-group">
          <label for="involved_officer"
            >Involved Offices/Responsible Persons</label
          >
          <input
            type="text"
            id="involved_officer"
            name="involved_officer"
            required
          />
        </div>
      </div>
      <div class="form-column">
        <div
          class="form-group"
          style="display: flex; justify-content: space-between"
        >
          <label for="p_budget">Proposed Budget</label>
          <input type="number" id="p_budget" name="p_budget" required />
        </div>
        <div class="form-group">
          <label for="expected_output">Expected Output:</label>
          <textarea
            id="expected_output"
            name="expected_output"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="actual_accomplishment"
            >Upload Actual Accomplishment File:</label
          >
          <input
            type="file"
            id="actual_accomplishment"
            name="actual_accomplishment"
            required
          />
        </div>
        <div class="form-group">
          <label for="remarks">Remarks:</label>
          <textarea id="remarks" name="remarks" required></textarea>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn-primary">Submit</button>
      <a href="{% url 'FSTLP_viewproject' %}" class="btn-primary"
        >View Projects</a
      >
    </div>
  </form>
</div>
{% endblock %}
