{% extends 'adminmain.html' %} {% load static %} {% block bodycontent %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/adminliquidation.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

        <div class="content">
            <div class="form_div">
                    <div class="title">
                        
                        <img src="{% static 'scholar/liquidation.png' %}" alt="">
                       <h2 style="color: black;">Admin Cost Liquiation Tracker</h2> 

                    </div>
                    <div class="logo-nav">
                            
                            <div class="logo-container" id="solo">
                                <img src="{% static 'scholar/tdp.png' %}" alt="">
                                <a href="{% url 'liquidation_TDP' %}">
                                    <button>CHED TDP Scholarship</button>
                                </a> 
                            </div >

                                <div class="dual">
                                    <div class="logo-container">
                                        <img src="{% static 'scholar/tes.png' %}" alt="">
                                        <a href="{% url 'liquidation_TES' %}">
                                            <button>CHED TES Scholarship</button>
                                        </a>
                                    </div>
                                    <div class="logo-container" >
                                        <img src="{% static 'scholar/coscho.png' %}" alt="">
                                        <a href="{% url 'liquidation_CoScho' %}">
                                            <button>CHED COSCHO Scholarship</button>
                                        </a>
                                    </div>
                                </div>
                   
                     </div>
               
        </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock bodycontent %}
