{% extends 'adminmain.html' %} {% load static %} {% load tz %}
<!-- prettier-ignore -->
{% block bodycontent  %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/adminrequirements.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <div class="sub-title">
    <h3>SCHOLARSHIP</h3>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
    <p class="certxt">&gt;Scholarship Submission Tracker</p>
  </div>
<hr>

        <div class="content">
            <div class="form_div">
          
                <div class="search_id_container">
                    <form method="POST" id="yearsemester">
                        {% csrf_token %}
                        {% if not is_requesting %}
                            <select style="color: black;" id="semester" name="semester">
                                <option style="color: black;" value="">SELECT SEMESTER</option>
                                <option style="color: black;" value="1st Semester">1st Semester</option>
                                <option style="color: black;" value="2nd Semester">2nd Semester</option>
                            </select>
                            <input type="text" id="search-box" name="years" placeholder="2020-2021 ( year format )">
                        {% else %}
                            <h4>Requesting Requirements to scholars...</h4>
                        {% endif %}
                        
                        {% if not is_requesting %}
                            <button id="req-btn" name="action" value="REQUEST" >Request</button>
                        {% else %}
                            <button id="close-btn" name="action" value="CLOSE" >Close</button>
                        {% endif %}
                    </form>
                    <form method="GET">
                        {% csrf_token %}
                        <select style="color: black;" id="scholar_type" name="scholar_type">
                            <option style="color: black;" value="">SELECT TYPE OF SCHOLAR</option>
                            <option style="color: black;" value="CHED - Full Merit">CHED FULL MERIT</option>
                            <option style="color: black;" value="CHED - Half Merit">CHED HALF MERIT</option>
                            <option style="color: black;" value="CHED - Tulong Dunong Program">CHED TULONG DUNONG</option>
                            <option style="color: black;" value="CHED - Coscho">DOST UNDERGRAD</option>
                            <option style="color: black;" value="CHED - Tertiary Education Subsidy">CHED TERTIARY EDUCATION SUBSIDY</option>
                            <option style="color: black;" value="LGU - ATEASP">ARGAO TERTIARY EDUCATION ASSISTANCE PROGRAM</option>
                            <option style="color: black;" value="LGU - DOST Undergrad">DOST UNDERGRAD</option>
                            <option style="color: black;" value="LGU - With High Honor">WITH HIGH HONOR</option>
                            <option style="color: black;" value="NGU - Nature\'s Spring Foundation Inc">NATURE'S SPRING FOUNDATION INC</option>
                            <option style="color: black;" value="NGU - Lifebank Foundation">LIFE BANK FOUNDATION</option>
                        </select>
                    </form>
                </div>
            
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% if msg %}
  <script>
    window.onload = function () {
      Swal.fire({
        icon: 'warning',
        title: 'Duplicate Entry',
        text: "{{ msg|escapejs }}",
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'OK'
      });
    };
  </script>
  {% endif %}

  
                <script>
                    $(document).ready(function() {
                        $('#scholar_type').change(function() {
                            $(this).closest('form').submit();
                        });
                    });
                </script>
            </div>
            {% if is_requesting and active_request %}
                <h3 style="color: black;">Year: {{ active_request.year }} || Semester: {{ active_request.semester }}</h3>
            {% endif %}
            {% if is_requesting %}
                <form method="POST">
                    {% csrf_token %}
                    <table id="requirements-table">
                        
                        <thead>
                            <tr>
                                <th>Scholar ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>COR</th>
                                <th>School ID</th>
                                <th>Grade</th>
                                <th>GPA</th>
                                <th>Scholar type</th>
                                <th>Note</th>
                                <th>Confirmation</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for data in req_data %}
                                    <tr>
                                        <td id="scholartd">{{ data.scholar_ID }}</td>
                                        <td>{{ data.studID.firstname }}</td>
                                        <td>{{ data.studID.lastname }}</td>
                                        <td><img id="cor_pic" src="{{ data.cor_file.url }}" alt=""></td>
                                        <td><img id="grade_pic" src="{{ data.grade_file.url }}" alt=""></td>
                                        <td><img id="schoolid_pic" src="{{ data.schoolid_file.url }}" alt=""></td>
                                        <td>{{ data.gpa }}</td>
                                        <td>{{ data.scholar_type }}</td>
                                        <td class="commentbox">
                                            {% if data.note %}
                                            <p style="color: red;">✔</p>
                                            {% else %}
                                                <input name="note_{{ data.id }}" type="text" class="comment-box">
                                            {% endif %}
                                        </td>
                                        <td id="btns3">
                                            <div>
                                                {% if not data.note %}
                                                <button name="action" value="ACCEPT2_{{ data.id }}" id="btn-accept">Accept</button>
                                                {% endif %}
                                                <button name="action" value="REJECTED2_{{ data.id }}" id="btn-reject">Reject</button>
                                            </div>
                                            {% if not data.note %}
                                                <button name="action" value="UPDATE2_{{ data.id }}" id="btn-update">Update</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                        </tbody>
                    </table>
                </form>
            {% endif %}
            {% if is_requesting %}
                <a href="{% url "admingrant" %}"><button id="grant-btn">GRANT</button></a>
            {% endif %}
        </div>
    </div>
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("imageModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var modalImg = document.getElementById("modalImage");

        document.querySelectorAll('td img').forEach(function(img) {
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
            }
        });

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock bodycontent %}
