{% extends 'adminmain.html' %} {% load static %} {% block bodycontent %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/chedreports.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    
        <div class="content">
            <div class="form_div">
                    <div class="title">
                        
                        <img src="{% static 'scholar/ched.png' %}" alt="">
                       <h2 style="color: black;">CHED REPORTS SUBMISSION</h2> 

                    </div>
                    <div class="logo-nav">
                        <div >
                            <div class="logo-container">
                                <img src="{% static 'scholar/merit.png' %}" alt="">
                                <a href="{% url 'ched_merit' %}">
                                    <button>CHED Merit Scholarship</button>
                                </a>
                            </div>
                            <div class="logo-container">
                                <img src="{% static 'scholar/tdp.png' %}" alt="">
                                <a href="{% url 'ched_TDP' %}">
                                    <button>CHED TDP Scholarship</button>
                                </a>
                            </div>
                        </div>
                        <div >
                            <div class="logo-container">
                                <img src="{% static 'scholar/tes.png' %}" alt="">
                                <a href="{% url 'ched_TES' %}">
                                    <button>CHED TES Scholarship</button>
                                </a>
                            </div>
                            <div class="logo-container">
                                <img src="{% static 'scholar/coscho.png' %}" alt="">
                                <a href="{% url 'ched_Coscho' %}">
                                    <button>CHED COSCHO Scholarship</button>
                                </a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock bodycontent %}
