
    
    {% extends base_template %} {% load static %} {% block bodycontent %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/gradesubmission.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  
            <div class="form_div">
                <h1 style="color: black;">Grade submission content here</h1>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock bodycontent %}
