{% extends "main.html" %} {% load static %} {% block headcontent %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link rel="stylesheet" href="{% static 'css/studentrequirements.css' %}" />
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% endblock headcontent %} {% block bodycontent %}
<div class="content_box">
  <div class="content">
    {% if msg %}
    <script>
      alert("{{ msg|escapejs }}");
    </script>
    {% endif %} {% if not is_requesting %}
    <div class="form_div_2">
      <h3 style="color: #c66604">
        Wait for the admin to request your requirements
      </h3>
    </div>
    {% else %} {% if passed and not note %}
    <div class="form_div_2">
      <h3 style="color: #c66604">
        Your requirements for this {{ active_request.semester }} year {{
        active_request.year }} is still on process.
      </h3>
      <a href="{% url 'profile_student' %}">
        <button class="checkbtn">CHECK PROFILE</button>
      </a>
    </div>
    {% elif passed_accepted_new %}
    <div class="form_div_2">
      <center>
        <h3 style="color: #c66604">
          Your requirements for this {{ active_request.semester }} year {{
          active_request.year }} is already accepted.
        </h3>
      </center>
      <a href="{% url 'profile_student' %}">
        <button class="checkbtn">CHECK PROFILE</button>
      </a>
    </div>
    {% else %}
    <div class="form_div">
      <h1>Submit Scholarship Requirements</h1>
      <form id="requirementsForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="semester">Semester and SY:</label>
          <input
            type="text"
            value="{{ active_request.semester }} {{ active_request.year }} "
            readonly
          />
        </div>
        <div class="form-group">
          <label for="scholarID">Scholar ID:</label>
          <input
            type="text"
            id="scholarID"
            name="scholar_ID"
            value="{{ scholar.scholar_ID }}"
            readonly
          />
          <input
            type="hidden"
            name="scholarID"
            value="{{ scholar.scholar_ID }}"
          />
        </div>
        <div class="form-group">
          <label for="gpa">GPA:</label>
          <input type="text" id="gpa" name="gpa" value="{{ gpa }}" />
        </div>
        <div class="form-group">
          <label for="units">UNITS:</label>
          <input type="text" id="units" name="units" value="{{ units }}" />
        </div>
        <div class="form-group">
          <label for="gradeFile">Upload Image for Grade:</label>
          <input
            style="color: black"
            type="file"
            id="gradeFile"
            name="grade_file"
            required
          />
        </div>
        <div class="form-group">
          <label for="corFile">Upload Image of School ID:</label>
          <input
            style="color: black"
            type="file"
            id="schoolidFile"
            name="schoolid_file"
          />
        </div>
        <div class="form-group">
          <label for="corFile">Upload Certificate of Registration (COR):</label>
          <input
            style="color: black"
            type="file"
            id="corFile"
            name="cor_file"
          />
        </div>
        {% if note %}
        <p style="color: black; margin-bottom: 20px">
          Last submitted requirement note:
          <span style="color: red">{{ note.note }}</span>
        </p>
        {% endif %}
        <button class="submitbtn" type="submit">Submit</button>
      </form>
    </div>
    {% endif %} {% endif %}
  </div>
</div>

<script>
  document.getElementById("gradeFile").addEventListener("change", function () {
    var formData = new FormData();
    formData.append("gradeFile", this.files[0]);
    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

    fetch("{% url 'process_grade_image' %}", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          document.getElementById("gpa").value = data.gpa;
          document.getElementById("units").value = data.total_units;
          // Optionally show extracted GPA/units somewhere
        }
      })
      .catch((error) => console.error("Error:", error));
  });
</script>
{% endblock %}
