{% extends 'main.html' %}
{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/scholarship/studentapplication.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% endblock headcontent %}

{% block bodycontent %}

<div class="container">
     <div class="sub-title">
    <h4>SCHOLARSHIP</h4>
    <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
    <p class="certxt">&gt; Application Form</p>
  </div>
<hr>

    <div class="content">
        {% if passed and not note %}
        <div class="form_div_2">
            <center><p>You've already submitted your scholarship application, check<br> on your profile for scholarship information and status.</p></center>
            <a href="{% url "profile_student" %}"><button class="checkbtn">CHECK PROFILE</button></a>
        </div>
        {% else %}
        <div class="form_div">
        
            <form id="display_search" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div>
                    <label for="">Student ID:</label>
                    <input type="text" name="studID" value="{{ student.studID }}" >
                </div>
                <div>
                    <label for="">LRN:</label>
                    <input type="text" name="lrn" value="{{ student.lrn }}" disabled>
                </div>
                <div>
                    <label for="">First Name:</label>
                    <input type="text" name="fname" value="{{ student.firstname }}" disabled>
                </div>
                <div>
                    <label for="">Middle Name:</label>
                    <input type="text" name="mname" value="{{ student.middlename }}" disabled>
                </div>
                <div>
                    <label for="">Last Name:</label>
                    <input type="text" name="lname" value="{{ student.lastname }}" disabled>
                </div>
                <div>
                    <label for="">Suffix:</label>
                    <input type="text" name="extension" value="{{ student.extension }}" disabled>
                </div>
                <div>
                    <label for="">Gender:</label>
                    <input type="text" name="sex" value="{{ student.sex }}" disabled>
                </div>
                <div>
                    <label for="birthdate">Birthdate:</label>
                    <input type="text" id="birthdate" name="birthdate" value="{{ student.birthday }}" disabled>
                </div>
                <div>
                    <label for="">College Program:</label>
                    <input type="text" name="college_prog" value="{{ student.degree }}" disabled>
                </div>
                <div>
                    <label for="semester">Scholarship Type:</label>
                    <select style="color: black;" id="scholar_type" name="scholar_type" required>
                        <option style="color: black;" value="">SELECT TYPE OF SCHOLAR</option>
                        <option style="color: black;" value="CHED - Full Merit">CHED FULL MERIT</option>
                        <option style="color: black;" value="CHED - Half Merit">CHED HALF MERIT</option>
                        <option style="color: black;" value="CHED - Tulong Dunong Program">CHED TULONG DUNONG</option>
                        <option style="color: black;" value="CHED - Coscho">DOST UNDERGRAD</option>
                        <option style="color: black;" value="CHED - Tertiary Education Subsidy">CHED TERTIARY EDUCATION SUBSIDY</option>
                        <option style="color: black;" value="LGU - ATEASP">ARGAO TERTIARY EDUCATION ASSISTANCE PROGRAM</option>
                        <option style="color: black;" value="LGU - DOST Undergrad">DOST UNDERGRAD</option>
                        <option style="color: black;" value="LGU - With High Honor">WITH HIGH HONOR</option>
                        <option style="color: black;" value="NGU - Nature's Spring Foundation Inc">NATURE'S SPRING FOUNDATION INC</option>
                        <option style="color: black;" value="NGU - Lifebank Foundation">LIFE BANK FOUNDATION</option>
                    </select>
                </div>
                <h2 style="color: #C66604;">Submit Requirements</h2>
                <div>
                    <label for="gradeFile">Upload Image for Grade:</label>
                    <input style="color: black;" type="file" id="gradeFile" name="grade_file" required>
                </div>
                <div>
                    <label for="corFile">Upload Image of School ID:</label>
                    <input style="color: black;" type="file" id="schoolidFile" name="schoolid_file">
                </div>
                <div>
                    <label for="corFile">Upload Certificate of Registration (COR):</label>
                    <input style="color: black;" type="file" id="corFile" name="cor_file">
                </div>
                <div><p>Calculate your GWA here</p>
                    <a href="https://theexecutivelibrary.weebly.com/gwa-calculator.html" target="_blank">GWA Calculator</a>
                    <label for="">GPA:</label>
                    <input id="gpa" type="text" name="gpa">
                </div>
                {% if note %}
                    <p style="color: black;">Last submitted requirement note: <span style="color: red;">{{ note.note }}</span></p>
                {% endif %}
                <button name="action" value="submit">SUBMIT</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}