{% extends base_template %} {% load static %} {% block bodycontent %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/upload.css' %}"
/>

<div class="sub-title">
  <h4>STUDENT LIFE</h4>
  <p class="hometext"><a href="{% url 'homepage' %}">Home</a></p>
  <p class="certxt">&gt; Upload CSV / Manual Input</p>
</div>
<hr />

<div class="main-wrapper">
  <div class="upload-section">
    <h3>Upload Students</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" name="student_upload">Upload Students</button>
    </form>
    <br />

    <h3>Upload Staff</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ staff_form.as_p }}
      <button type="submit" name="staff_upload">Upload Staff</button>
    </form>
  </div>

   <div class="manual-section">
    <form method="post">
      {% csrf_token %} {{ staff_manual_form.as_p }}
      <button type="submit" name="staff_manual">Save Staff</button>
    </form>
  </div>
</div>
</div>

{% endblock %}
