{% extends 'adminmain.html' %} {% load static %} {% block bodycontent %}
<link
  rel="stylesheet"
  href="{% static 'styles/studentlife/requestgmc.css' %}"
/>
<div class="sub-title">
  <h3>Alumni(Admin)</h3>
  <p class="hometext">Home</p>
  <p class="certxt">&gt; ID request</p>
</div>

<div class="container">
  <div class="gmc-form">
    <table>
      <thead>
        <tr>
          <th>Alumni ID</th>
          <th>Student ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date Requested</th>
          <th>Date Released</th>
          <th>Confirmation</th>
        </tr>
      </thead>
      <tbody>
        {% for alumni_request in alumni_requests %}
        <tr>
          <td data-label="Alumni ID">{{ alumni_request.alumniID }}</td>
          <td data-label="Student ID">{{ alumni_request.student.studID }}</td>
          <td data-label="First Name">
            {{ alumni_request.student.firstname }}
          </td>
          <td data-label="Last Name">{{ alumni_request.student.lastname }}</td>
          <td data-label="Date Requested">{{ alumni_request.alumnidate }}</td>

          <td data-label="Date Released">
            {% if alumni_request.claimed_date %}
            <!-- prettier-ignore -->
            {{ alumni_request.claimed_date|date:"Y-m-d" }}
      {% else %}
        --
      {% endif %}
          </td>

          <td data-label="Confirmation">
            {% if alumni_request.claimed_date %}
            <span class="success-message">Claimed</span>
            {% else %} {% if alumni_request.approved %}
            <form
              action="{% url 'claim_alumni_id' alumni_request.alumniID %}"
              method="post"
            >
              {% csrf_token %}
              <button type="submit" class="requestBtn">Mark as Claimed</button>
            </form>
            {% else %}
            <form
              action="{% url 'approve_alumni_request' alumni_request.alumniID %}"
              method="post"
            >
              {% csrf_token %}
              <button type="submit" class="requestBtn">Approve</button>
            </form>
            {% endif %} {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" style="text-align: center">No applicants found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
