<!DOCTYPE html>
{% load static %}

<head>
  <link rel="shortcut icon" type="x-icon" href="{% static 'studentlife/images/CTU_logo.png' %}">
  <title>STUDENT LIFE INFORMATION SYSTEM</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/c384d92761.js" crossorigin="anonymous"></script>
  <script>
    tailwind.config = {
      theme: {
        container: {
          padding: {
            DEFAULT: "15px",
          },
        },

        extend: {
          colors: {
            grayyy: "#f1f1f1",
            gray2: "#F2F2F2",
            orng: "#FF8000",
            blo: "#4682B4",
            tgray: "#5A5A5A",

          },

          fontWeight: {
            medium: 500,
            semibold: 600,
            bold: 700,
          },
          fontStyle: {
            sfLight: [
              "SF Pro Text",
              "Arial",
              "sans-serif",
              {
                "font-weight": 600,
                "font-style": "normal"
              },
            ],
            sfRegular: [
              "SF Pro Text",
              "Arial",
              "sans-serif",
              {
                "font-weight": 400,
                "font-style": "normal"
              },
            ],
          },

        },
      },
    }
  </script>

  <link rel="stylesheet" type="text/css" href="/static/alumni/users/styles.css">

</head>

<body>
  <div class="orange-bar">
    <a href="/homepage"><img src="{% static 'alumni/users/images/CTU_logo.png' %}" class="logo"></a>
    <img src="{% static 'studentlife/images/barSort.png' %}" class="bars">
  </div>



  <div class="left-side">
    <nav class="side-nav">
      <ul>

        <li><a href="#" class="studentlife-btn">OFFICE OF STUDENT LIFE
            <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="studentlife">
            <li><a href="/equipmenttrackerAdmin">Equipment Tracker(Admin)</a></li>
            <li><a href="/requested-gmc">Good Moral Certificate Issuance(Admin)</a></li>
            <li><a href="/upload">PPMP Tracker(Admin)</a></li>
            <li><a href="/monthlyCalendarAdmin">Monthly Calendar of Activites(Admin)</a></li>
            <li><a href="/transactionreport">Transaction Report(Admin)</a></li>
          </ul>
        </li>
        <li><a href="#" class="scholar-btn">SCHOLARSHIP
          <span class="fas fa-caret-down second"></span>
      </a>
      <ul class="scholar-show">
          <li><a href="#">Submission of Requirements Tracker(Admin)</a></li>
          <li><a href="#">Scholars Profile and Validation(Admin)</a></li>
          <li><a href="#">Grade Submission with GPA Computation(Admin)</a></li>
          <li><a href="#">Mentorship Program(Admin)</a></li>
          <li><a href="#">Admin Cost Liquidation Tracker(Admin)</a></li>
          <li><a href="#">CHED Reports Submission(Admin)</a></li>
          <li><a href="#">Transaction Reports(Admin)</a></li>
      </ul>
      </li>
      <li><a href="#" class="jobplace-btn">JOB PLACEMENT
          <span class="fas fa-caret-down third"></span>    
      </a>
      <ul class="jobplace-show">
        <li><a href="{% url 'jobplacement:ojt_hiring' %}">OJT Hiring</a></li>
        <li><a href="{% url 'jobplacement:seminar_page' %}">Career Guidance Tracker</a></li>
        <li><a href="{% url 'jobplacement:ojt_requirements_tracker' %}">OJT Requirements Tracker</a></li>
        {% if request.user.is_staff %}
        <li><a href="{% url 'jobplacement:non_acad' %}">Non-Academic Award Issuance</a></li>
        <li><a href="{% url 'jobplacement:job_trans_rep' %}">Transaction Reports</a></li>
        {% endif%}
        {% if request.user.is_superuser %}
        <li><a href="{% url 'jobplacement:admin_signup' %}">Admin Signup</a></li>
        {% endif %}
        {% if request.user.is_staff %}
        <li><a href="{% url 'custom_user:register' %}">Student Signup</a></li>
        {% endif %} 
      </ul>
      </li>
      <li><a href="#" class="student_disc-btn">STUDENT DISCIPLINE
         <span class="fas fa-caret-down fourth"></span>
      </a>
      <ul class="student_disc-show">
          <li><a href="{% url 'studentLife_discipline:transaction' %}">Transaction Reports</a></li>
      </ul>
      </li>
      <li><a href="#" class="guide-btn">GUIDANCE
         <span class="fas fa-caret-down fifth"></span>
      </a>
      <ul class="guide-show">
        <li><a href="{% url ' Counseling App With Scheduler Admin View'%}">Counseling App with Scheduler(Admin)</a></li>
        <li><a href="{% url ' Intake Interview' %}">Intake Interview(Admin)</a></li>
        <li><a href="{% url ' Exit Interview Admin View'%}">Exit Interview(Admin)</a></li>
        <li><a href="{% url ' OJT Assessment Admin View'%}">OJT Assessments/Psychological Issuance(Admin)</a></li>
    </ul>
      </li>
      <li><a href="#" class="alumni-btn">ALUMNI
         <span class="fas fa-caret-down sixth"></span>
      </a>
      <ul class="alumni-show">
          <li><a href="{% url ' admin_idRequest' %}">Alumni ID Requests(Admin)</a></li>
          <li><a href="{% url ' admin_gradTracer' %}">Graduate Tracer(Admin)</a></li>
          <li><a href="{% url ' admin_events' %}">Alumni Reunion and Events(Admin)</a></li>
          <li><a href="{% url ' admin_jobfairs' %}">Job Fairs(Admin)</a></li>
          <li><a href="{% url ' admin_yearbook' %}">Digital Yearbook(Admin)</a></li>
          <li><a href="{% url ' transaction_alumni' %}">Transaction Reports(Admin)</a></li>
      </ul>
      </li>
      <li><a href="#" class="community-btn">COMMUNITY INVOLVEMENT
         <span class="fas fa-caret-down seventh"></span>
      </a>
      <ul class="community-show">
          
        <li><a href="{% url ' program-form' %}">Events(Admin)</a></li>
        <li><a href="{% url ' project-form' %}">Crowd Funding Project(Admin)</a></li>
        <li><a href="{% url ' donation-validate' %}">Donation Validates(Admin)</a></li>
        <li><a href="{% url ' donation_dashboard' %}">Donations(Admin)</a></li>
        <li><a href="{% url ' reports' %}">Transaction Reports(Admin)</a></li>
          
      </ul>
      </li>
      <li><a href="#" class="student_org-btn">STUDENT ORGANIZATION
         <span class="fas fa-caret-down eight"></span>
      </a>
      <ul class="student_org-show">
        <li><a href="{% url ' logins' %}">Org Profile</a></li>
    </ul>
      </li>
      <li><a href="#" class="medical-btn">MEDICAL
         <span class="fas fa-caret-down ninth"></span>
      </a>
      <ul class="medical-show">
        <li><a href="{% url 'medical:patient_profile' %}">Patient Profile(Admin)</a></li>
        <li><a href="{% url 'medical:viewrequest' %}">View Requests(Admin)</a></li>
        <li><a href="{% url 'medical:emergency_asst' %}">Emergency Health Assistance(Admin)</a></li>
        <li><a href="{% url 'medical:pwdlist' %}">PWD Profile(Admin)</a></li>
        <li><a href="{% url 'medical:dentalrequest' %}">Dental Services(Admin)</a></li>
        <li><a href="{% url 'medical:prescription' %}">Prescription Issuance(Admin)</a></li>
        <li><a href="{% url 'medical:transactions' %}">Transaction Reports(Admin)</a></li>
        <br><br><br>
      </ul>
      </li>
  </ul>
  </div>
</div>
  <div class="search-container">
      <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" placeholder="Search...">
      <p class="login">
        <div class="dropdown">
            <a href="#" class="dropdown-link" id="username">Welcome Admin</a>
            <div class="dropdown-content">
                <a href="#">Help & Support</a>
                <a href="{% url ' upload_student_data'%}">Settings and Security</a>
                <a href="{% url 'custom_user:logout' %}">Logout</a>
            </div>
        </div>
    </p>
  </div>
  </nav>
  {% block content %}

  {% endblock %}

  <script>
    $('.studentlife-btn').click(function() {
      $('.side-nav ul .studentlife').toggleClass("show");
      $('.side-nav ul .first').toggleClass("rotate");
    });
    $('.scholar-btn').click(function() {
      $('.side-nav ul .scholar-show').toggleClass("show2");
      $('.side-nav ul .second').toggleClass("rotate");
    });
    $('.jobplace-btn').click(function() {
      $('.side-nav ul .jobplace-show').toggleClass("show3");
      $('.side-nav ul .third').toggleClass("rotate");
    });
    $('.student_disc-btn').click(function() {
      $('.side-nav ul .student_disc-show').toggleClass("show4");
      $('.side-nav ul .fourth').toggleClass("rotate");
    });
    $('.guide-btn').click(function() {
      $('.side-nav ul .guide-show').toggleClass("show5");
      $('.side-nav ul .fifth').toggleClass("rotate");
    });
    $('.alumni-btn').click(function() {
      $('.side-nav ul .alumni-show').toggleClass("show6");
      $('.side-nav ul .sixth').toggleClass("rotate");
    });
    $('.community-btn').click(function() {
      $('.side-nav ul .community-show').toggleClass("show7");
      $('.side-nav ul .seventh').toggleClass("rotate");
    });
    $('.student_org-btn').click(function() {
      $('.side-nav ul .student_org-show').toggleClass("show8");
      $('.side-nav ul .eight').toggleClass("rotate");
    });
    $('.medical-btn').click(function() {
      $('.side-nav ul .medical-show').toggleClass("show9");
      $('.side-nav ul .ninth').toggleClass("rotate");
    });

    var descriptionElement = document.getElementById("description");
    var maxWords = 10; // Change this to the desired word limit

    var words = descriptionElement.innerText.split(" ");
    if (words.length > maxWords) {
      descriptionElement.innerText = words.slice(0, maxWords).join(" ") + "...";
    }
  </script>
</body>

</html>